<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <title>Thanh toán</title>
    <script src="jquery.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .carousel-item {
            height: 65vh;
            min-height: 350px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .w3-tangerine {
            font-family: "Tangerine", serif;
        }

        .bdy {
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand w3-tangerine w3-xxlarge" href="/home">The Sharing</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="/home/search" method="GET">
                    <div class="card-body row no-gutters align-items-center">

                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Search topics or keywords" name="q">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/share/<%= user._id %>">Share</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lọc theo Danh mục
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/home/cat=sach">Sách</a>
                            <a class="dropdown-item" href="/home/cat=thoitrang">Thời trang</a>
                            <a class="dropdown-item" href="/home/cat=dientu">Điện tử</a>
                            <a class="dropdown-item" href="/home/cat=giaydep">Giày dép</a>
                            <a class="dropdown-item" href="/home/cat=linhtinh">Linh tinh</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lọc
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/home/filter_time">Lọc theo sản phẩm mới nhất</a>
                            <a class="dropdown-item" href="/home/filter_view">Lọc theo sản phẩm mới nhất được chú ý
                                nhất</a>
                            <a class="dropdown-item" href="/home/filter_comment">Lọc theo tương tác</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= user.local.name||user.facebook.name||user.google.name %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile/<%= user._id %>">Profile</a>
                            <a class="dropdown-item" href="/shopping-cart/<%= user._id %>">Giỏ hàng</a>
                            <a class="dropdown-item" href="/count/<%= user._id %>">Của tôi</a>
                            <a class="dropdown-item" href="/notification/<%= user._id %>">Thông báo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </nav>
    <!-- Navbar -->
    <div class="bdy">
        <!--Main layout-->
        <main class="mt-5 pt-4">
            <div class="container wow fadeIn">

                <!-- Heading -->
                <h2 class="my-5 h2 text-center">CHECKOUT FORM</h2>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card content-->
                            <form class="card-body" action="/shopping-cart/checkout/<%= user._id %>" method="POST">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md mb-2">

                                        <!--firstName-->
                                        <div class="md-form ">

                                            <label for="firstName" class="">Tên đầy đủ</label>
                                            <input type="text" id="firstName" class="form-control" name="fullname"
                                                value="<%=user.fullname%>" required>


                                        </div>

                                    </div>
                                    <!--Grid column-->



                                </div>
                                <!--Grid row-->

                                <!--Username-->
                                <label for="email" class="">Số điện thoại</label>
                                <br>
                                <div class="md-form input-group pl-0 mb-5">

                                    <div class="input-group-prepend">

                                        <span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                    <input type="text" class="form-control py-0" name="phone" value="<%= user.phone %>"
                                        aria-describedby="basic-addon1" required>
                                </div>

                                <!--email-->
                                <div class="md-form mb-5">
                                    <label for="email" class="">Email</label>
                                    <input type="text" id="email" class="form-control"
                                        value="<%= user.local.email||user.facebook.email||user.google.email %>"
                                        required>

                                </div>

                                <!--address-->
                                <div class="md-form mb-5">
                                    <label for="address" class="">Địa chỉ</label>
                                    <input type="text" id="address" class="form-control" value="<%=user.address%>"
                                        name="address" required>

                                </div>
                                <div class="md-form mb-5">
                                    <label for="address" class="">Lời nhắn thêm(nếu có)</label>
                                    <input type="text" id="message" class="form-control" name="message">

                                </div>



                                <!--Grid row-->

                                <hr class="mb-4">


                                <button class="btn btn-primary btn-lg btn-block" type="submit">Payment</button>
                            </form>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-4">

                        <!-- Heading -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your cart</span>

                        </h4>
                        <ul class="list-group mb-3 z-depth-1"></ul>
                        <% product.forEach(function(item) { %>

                        <!-- Cart -->

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"><%= item.productName %></h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted"><%= item.price %></span>
                        </li>


                        <!-- Cart -->

                        <% }); %>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong>$20</strong>
                        </li>
                        </ul>




                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </div>
        </main>
        <!--Main layout-->
    </div>


    </footer>
    <!--/.Footer-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>