<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <title>Document</title>
    <script src="jquery.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .carousel-item {
            height: 65vh;
            min-height: 350px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .w3-tangerine {
            font-family: "Tangerine", serif;
        }
    </style>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand w3-tangerine w3-xxlarge" href="/home">The Sharing</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/share/<%= user._id %>">Share</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Danh mục
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/home/cat=sach">Sách</a>
                                <a class="dropdown-item" href="/home/cat=thoitrang">Thời trang</a>
                                <a class="dropdown-item" href="/home/cat=dientu">Điện tử</a>
                                <a class="dropdown-item" href="/home/cat=giaydep">Giày dép</a>
                                <a class="dropdown-item" href="/home/cat=linhtinh">Linh tinh</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= user.local.name||user.facebook.name||user.google.name %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/shopping-cart/<%= user._id %>">Yêu thích</a>
                            <a class="dropdown-item" href="/count/<%= user._id %>">Của tôi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </nav>


    <div class="container" style="margin-top: 100px">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Share Form </h1>
            <!-- hiển thị mọi tin nhắn được trả lại từ server cho việc đăng ký -->
            <%- include ("./partials/message") %>
            <!-- LOGIN FORM -->
            <form action="/share/<%= user._id %>" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Decri</label>
                    <input type="text" class="form-control" name="decri">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" name="price">
                </div>
                <div class="form-group">
                    <label>Tag</label>
                    <select class="form-control" name="tags">
                        <option name="" value="0" selected>Select Tag</option>
                        <option name="sach" value="sach">Sách</option>
                        <option name="thoitrang" value="thoitrang">Thời trang</option>
                        <option name="dientu" value="dientu">Điện tử</option>
                        <option name="giaydep" value="giaydep">Giày dép</option>
                        <option name="linhtinh" value="linhtinh">Linh tinh</option>
                    </select>
                </div>

                <input type="file" name="avatar" />

                <button type="submit" class="btn btn-success btn-lg" style="margin-top: 10px">Submit</button>
            </form>
            <hr>
           
        </div>
    </div>

</body>

</html>